@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(/fonts/OpenSans-Bold.woff);
  font-weight: 600;
  font-style: bold;
}
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: OpenSans, Arial, Tahoma;
  font-size: 20px;
  color: #000000;
}
header{
  background-image: url(/img/football_1920.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
header::before, footer::before{
  content: "";
  background-color: #0a0e34;  
  opacity: .9;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}
.container{
  max-width: 1530px;   
  position: relative;
  z-index: 3;
}
header .container{
  padding: 45px 15px 110px 10px;
}
.header-logo{
  text-align: center;   
  padding-bottom: 295px;
}
.img-logo{
  width: 190px;
  fill: #fff;
}
h1{
  color: #fff;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 90px;
  line-height: 100px;
}
h1 span{
  display: block;
}
.header-text-left{
  text-align: left;
}
.header-text-right{
  text-align: right;
}
.order-btns{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 222px; 
  margin-left: auto;
  margin-right: auto;
  
}
.btn1, .btn2{
  display: flex;
  align-items: center;
  vertical-align: center;
  padding: 10px 60px 17px 40px;
  background: #5e42b0;
  border-radius: 35px;
}
.btn1{
  margin-right: 50px;
}
.btn-img{
  margin-right: 25px;
}
.btns-text{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.btn-text-up{
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
 
}
.btn-text-down{
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: OpenSans-Bold; 
}
footer{
  background-image: url(/img/game_1280.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;    
  background-color: #0a0e34;
  padding: 
}
footer .container{
  padding-top: 230px;
  padding-bottom: 51px;
}
.block-download{
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-img{
  background-color: #684abf;
  padding: 20px 12px 26px;
  border-radius: 32px;
  width: 130px;
  margin-right: 38px;
  display: flex;
  justify-content: center;
}
.download-img svg{
  fill: #fff;
  width: 105px;  
}
.text-up{
  font-family: OpenSans-Bold;
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
}
.text-down{
  font-family: OpenSans;
  font-size: 30px;
  
  color: #a496ca;
  text-transform: uppercase;
}
.btn1 svg, .btn2 svg {
  width: 40px;
  fill: #fff;
}
.footer-logo{
  display: flex;
  justify-content: center;
  margin-top: 260px;
}
.footer-logo .logo {
  width: 190px;
  fill: #fff;
}